<section>
    <div ng-show="isVisible" class="animate-show-hide flex items-center justify-center relative">
        <span class="absolute top-12 py-2 px-5 text-sm bg-red-500 rounded-sm text-white">Inicio de sesion no valido</span>
    </div>
    <div class="w-max mx-auto h-screen flex items-center justify-center">
        <!--Header form --> 
        <div class="border shadow-lg rounded-lg">
            <div class="border-b py-2">
                <div class="px-20">
                    <h4 class="text-xl text-center">Iniciar sesion</h4>
                </div>
            </div>
            <!--Body form-->
            <div class="flex items-center justify-center px-10 py-8">
                <form class="space-y-4" novalidate>
                    <div class="flex flex-col space-y-1">
                        <label for="inputUsername" class="text-sm">Username</label>
                        <input  type="text" id="inputUsername" placeholder="spiderman" ng-model="user.username" class="border p-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-transparent">
                    </div>
                    <div class="flex flex-col space-y-1">
                        <label for="inputPassword" class="text-sm">Password</label>
                        <input  type="password" id="inputPassword" placeholder="******" ng-model="user.password" class="border p-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-green-400 focus:border-transparent">
                    </div>
                    <div class="w-full">
                        <button type="submit" ng-click="submit(user)" class="w-full p-2 text-white rounded-sm bg-black">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>